<style>
    .table-bordered {
        border: 1px solid #000;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #000;
    }

    .table-secondary {
        background-color: #f8f9fa;
    }

    hr {
        border-top: 1px solid #000;
    }
</style>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/datetime/1.0.3/css/dataTables.dateTime.min.css" />

    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.3/b-colvis-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sc-2.0.2/sp-1.1.1/sl-1.3.1/datatables.min.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>

<body onload="Geeks()">
    <div>
        <div class="boxH1ResPadraoDesktop">
            <div class="mesPremiadoPadraoDesktop">
                <h1 class="h1ResPadraoDesktop">Relatório</h1>
            </div>
            <button class="svgXSairTabelas" data-placement="bottom" onclick="goBack()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M13.541 12.0007L17.3955 8.14623C17.5857 7.93898 17.6884 7.66631 17.6823 7.38512C17.6762 7.10394 17.5618 6.83597 17.3628 6.63716C17.1639 6.43835 16.8958 6.32406 16.6147 6.31815C16.3335 6.31223 16.0609 6.41515 15.8537 6.60542L15.8547 6.60442L12.0002 10.4589L8.1457 6.60442C7.93845 6.41429 7.66578 6.31154 7.38459 6.31764C7.10341 6.32374 6.83544 6.4382 6.63663 6.63714C6.43782 6.83608 6.32353 7.10412 6.31762 7.38531C6.3117 7.6665 6.41462 7.93911 6.60489 8.14623L6.60389 8.14523L10.4584 11.9997L6.60389 15.8543C6.49544 15.9538 6.40825 16.0742 6.34756 16.2083C6.28687 16.3423 6.25393 16.4873 6.25074 16.6344C6.24755 16.7816 6.27417 16.9278 6.32899 17.0644C6.38382 17.201 6.46571 17.3251 6.56975 17.4292C6.67378 17.5333 6.7978 17.6153 6.93435 17.6702C7.0709 17.7251 7.21715 17.7518 7.36429 17.7487C7.51143 17.7456 7.65643 17.7128 7.79055 17.6522C7.92467 17.5916 8.04513 17.5045 8.1447 17.3961L8.1457 17.3951L12.0002 13.5406L15.8547 17.3951C15.9542 17.5035 16.0746 17.5907 16.2087 17.6514C16.3428 17.7121 16.4878 17.745 16.6349 17.7482C16.7821 17.7514 16.9283 17.7248 17.0649 17.67C17.2015 17.6151 17.3256 17.5333 17.4297 17.4292C17.5338 17.3252 17.6157 17.2012 17.6707 17.0646C17.7256 16.9281 17.7523 16.7818 17.7492 16.6347C17.7461 16.4875 17.7133 16.3425 17.6526 16.2084C17.592 16.0743 17.5049 15.9538 17.3965 15.8543L17.3955 15.8533L13.541 12.0007Z"
                        fill="black" />
                </svg>
            </button>
        </div>

        <div class="container" id="containerpdf" name="containerpdf">
            <div class="mb-3">
                <div class="col-xxl">
                    <div class="card">
                        <div class="form-group">
                            <font face="DM Sans, Arial, system-ui">
                                <table style="border-collapse: collapse; width: 100%; font-size: 12px;">
                                    <tr
                                        style="border: 1px solid black; font-weight: bold; font-size: 24px; text-align: center; background-color: #d9d9d9; font-size: 14px;">
                                        <td>PLANEJAMENTO PRODUÇÕES MULTIPLATAFORMA</td>
                                    </tr>
                                    <tr style="border: 1px solid black;">
                                        <td><b>TÍTULO:</b> {{evento.titulo}}</td>
                                    </tr>
                                    <tr style="border: 1px solid black;">
                                        <td><b>DATA:</b> {{evento.data_formatada}}</td>
                                    </tr>
                                    <tr style="border: 1px solid black;">
                                        <td><b>HORÁRIO:</b> {{evento.h_inicio_formatado}} - {{evento.h_fim_formatado}}
                                        </td>
                                    </tr>
                                    <tr style="border: 1px solid black;">
                                        <td><b>LOCAL:</b> {{evento.local}}</td>
                                    </tr>
                                    <tr style="border: 1px solid black;">
                                        <td><b>ORIGEM DO EVENTO:</b>
                                            {{#each origem}}
                                            &nbsp;{{nome}} &nbsp;&nbsp;&nbsp;
                                            {{/each}}
                                        </td>
                                    </tr>
                                    <tr style="border: 1px solid black;">
                                        <td><b>COPIADOS:</b><br>
                                            <span style="color: #1f3763;">
                                                {{#each copiados}}
                                                {{email}}{{#unless @last}}; {{/unless}}
                                                {{/each}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr style="border: 1px solid black;">
                                        <td><b>DIRETRIZ DIREÇÃO:</b><br>{{evento.diretriz}} </td>
                                    </tr>

                                    <tr style="border: 1px solid black;">
                                        <td><b>NO DIA DO EVENTO</b><br>
                                            <b>PLATAFORMA</b><br>
                                            {{evento.plataforma}}<br><br>
                                            <b>NO DIAL</b><br>
                                            {{evento.dial}}
                                        </td>
                                    </tr>
                                    <tr style="border: 1px solid black;">
                                        <td><b>ANTES DO EVENTO:</b><br>{{evento.antes_evento}}</td>
                                    </tr>
                                    <tr style="border: 1px solid black;">
                                        <td><b>LINHA EDITORIAL:</b><br>{{evento.linha_editorial}}</td>
                                    </tr>
                                    <tr style="border: 1px solid black;">
                                        <td><b>DIVULGAÇÃO:</b><br>{{evento.divulgacao}}</td>
                                    </tr>

                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>

                                <table style="border-collapse: collapse; width: 100%;">
                                    <tr
                                        style="border: 1px solid black; font-weight: bold; font-size: 20px; text-align: center; background-color: #d9d9d9; font-size: 14px;">
                                        <td>PLANEJAMENTO DETALHADO OBRIGATÓRIA EQUIPE CONTEÚDO – COBERTURA EXTERNA</td>
                                    </tr>
                                </table>

                                <table style="border-collapse: collapse; width: 100%;font-size: 12px;">
                                    <tbody style="vertical-align: top;">
                                        <tr style="border: 1px solid black;">
                                            <td>&nbsp;</td>
                                        </tr>

                                        <tr
                                            style="border: 1px solid black; font-weight: bold; text-align: center; background-color: #d9d9d9;">
                                            <td style="width: 120px;">SETORES</td>
                                            <td style="width: 180px;">CONTEÚDO</td>
                                            <td style="width: 80px;">PRODUÇÃO</td>
                                            <td style="width: 100px;">ESCALA</td>
                                            <td style="width: 80px;">LOGÍSTICA</td>
                                            <td style="width: 100px;">OUTROS</td>
                                        </tr>

                                        {{#each planejamentos}}
                                        <tr style="border: 1px solid black; page-break-inside: avoid;">
                                            <td style=" border: 1px solid black;">
                                                {{#with (lookup ../funcionariosPorPlanejamento this.id)}}
                                                {{#each this}}
                                                <strong>{{@key}}</strong><br>
                                                {{#each this}}
                                                - {{this}}<br>
                                                {{/each}}
                                                <br>
                                                {{/each}}
                                                {{/with}}
                                            </td>
                                            <td style="border: 1px solid #000; padding: 8px; vertical-align: top;">
  {{#each (lookup ../programasPorPlanejamento this.id)}}
    {{#if this.nome}}
      • {{this.nome}}
      {{#if this.observacao}}<br><em style="white-space: pre-wrap;">({{this.observacao}})</em>{{/if}}<br>
    {{else}}
      {{#if this.observacao}}<em style="white-space: pre-wrap;">{{this.observacao}}</em><br>{{/if}}
    {{/if}}
  {{/each}}
</td>
                                            <td style=" border: 1px solid black;">
                                                {{producao}}</td>
                                            <td style=" border: 1px solid black;">
                                                {{escala}}</td>
                                            <td style=" border: 1px solid black;">
                                                {{logistica}}</td>
                                            <td style=" border: 1px solid black;">
                                                {{outros}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </font>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form action="" method="get" id="frm_" name="frm_" enctype="multipart/form-data"></form>

        <div class="d-flex justify-content-center my-4"> <!-- my-4 adiciona margem vertical -->
            <button id="generatePdfButton" class="btn btn-danger py-2 px-4"> <!-- py-2 e px-4 aumentam o padding -->
                Exportar como PDF
            </button>
        </div>
        </form>

    </div>
    </div>
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/datetime/1.0.3/js/dataTables.dateTime.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.3/b-colvis-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sc-2.0.2/sp-1.1.1/sl-1.3.1/datatables.min.js"></script>

<script>
    document.getElementById('generatePdfButton').addEventListener('click', async () => {
        try {
            // Capturar o conteúdo HTML que será convertido para PDF
            const content = document.getElementById('containerpdf').innerHTML;

            // Enviar para o servidor
            const response = await fetch('/links/consultas/gerarPdfEvento', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ html: content })
            });

            if (!response.ok) throw new Error('Falha ao gerar PDF');

            // Criar e baixar o PDF
            const blob = await response.blob();
            const url = URL.createObjectURL(blob);

            const a = document.createElement('a');
            a.href = url;
            a.download = 'planejamento_evento.pdf';
            a.target = '_blank';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);

            // Liberar memória
            setTimeout(() => URL.revokeObjectURL(url), 100);
        } catch (error) {
            console.error('Erro ao gerar PDF:', error);
            alert('Ocorreu um erro ao gerar o PDF');
        }
    });
</script>