<style>
    .inputPadraoDesktopParticipar {
        width: 100%;
        height: auto;
        min-height: 50px;
        /* Altura mínima */
        max-height: none;
        /* Permite que a altura aumente conforme necessário */
        overflow-y: hidden;
        /* Remove a barra de rolagem vertical */
    }
</style>

<body>
    <select hidden class="form-select inputPadraoDesktop" name="todosfuncionarios" id="todosfuncionarios">
        <option class=" inputPadraoDesktop" selected disabled value hidden>Selecione
            Funcionário
        </option>
        {{#each funcionario}}
        <option id="{{id_funcionario}}" class="todosfuncionarios" value="{{id_funcionario}}">
            {{nome}}
        </option>
        {{/each}}
    </select>
    <form id="frm" method="POST">
        <input hidden type="number" name="tipoEscala" id="tipoEscala">
        <input hidden type="text" name="auxFunc" id="auxFunc">
        <input hidden type="number" name="auxProg" id="auxProg">

        <div class="grupoGap40px">
            <div class="grupoGap24px">
                <div class="grupoGap8pxDesktop">
                    <label for="validationDefault02" class="textoInputPadraoDesktop">Selecione a Data:
                        <font color="red">* <label id="cpobgtigatorio2" hidden>Campo Obrigatório</label>
                        </font>
                    </label>

                    <div class="grupoGap8pxDesktop">

                        <input readonly type="date" class="inputPadraoDesktop" id="dt_escala" name="dt_escala"
                            placeholder="dt_escala" aria-label="dt_escala" aria-describedby="basic-addon1" required>

                        <select class="form-select inputPadraoDesktop" name="id_tipo_escala" id="selectEscala" required>
                            <option class="" selected disabled hidden>Selecione a Escala
                            </option>
                            <option value="1">
                                Escala Funcionário
                            </option>
                            <option value="2">
                                Escala Jogos
                            </option>
                        </select>

                        <input hidden type="text" class="form-select inputPadraoDesktop" name="eventomanual"
                            id="eventomanual">

                    </div>

                    {{!-- criação de escala de funcionários --}}
                    <div hidden id="escalaFuncionario" class="grupoGap8pxDesktop">
                        <select class="form-select inputPadraoDesktop" name="id_evento" id="list2" required>
                            <option class="inputPadraoDesktop" selected disabled hidden>Selecione o Evento
                            </option>
                            {{#each evento}}
                            <option id="{{id_evento}}" value="{{id_evento}}">
                                {{nome}}
                            </option>
                            {{/each}}
                        </select>

                        <div class="horadcHorarioDesktop">
                            <button type="button" class="adcHorarioDesktop " onclick="AlterarEvento()">Evento
                                manual</button>
                        </div>

                        <label for="validationDefault01" class="textoInputPadraoDesktop">Horário Início:
                        </label>
                        <input type="time" class="inputPadraoDesktop" id="h_evento_inicio" name="h_evento_inicio"
                            placeholder="horario" aria-label="horario" aria-describedby="basic-addon1">

                        <label for="validationDefault01" class="textoInputPadraoDesktop">Horário Fim:
                        </label>
                        <input type="time" class="inputPadraoDesktop" id="h_evento_fim" name="h_evento_fim"
                            placeholder="horario" aria-label="horario" aria-describedby="basic-addon1">

                        {{!-- add vários funcionários --}}
                        <div id="divFuncionarioescala" class="grupoGap8pxDesktopParticipar">
                            <p for="validationDefault02" class="textoInputPadraoDesktop">Funcionário</p>

                            <div class="horadcHorarioDesktop">
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="adicionaFuncionario('id_funcionario_escala_', 'Funcionario', 0)">Adicionar</button>
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="removeFuncionario('id_funcionario_escala_', 'Funcionario', 0)">Remover</button>
                            </div>

                            <select class="form-select inputPadraoDesktop" name="id_funcionario_escala_1"
                                id="id_funcionario_escala_" required>
                                <option class="" selected disabled value hidden>Selecione
                                    Funcionário
                                </option>
                                {{#each funcionario}}
                                <option id="{{id_funcionario}}" class="idfuncionario" value="{{id_funcionario}}">
                                    {{nome}}
                                </option>
                                {{/each}}
                            </select>
                        </div>

                        {{!-- add vários programas --}}
                        <div id="divPrograma" class="grupoGap8pxDesktopParticipar">
                            <p for="validationDefault02" class="textoInputPadraoDesktop">Programa</p>

                            <div class="horadcHorarioDesktop">
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="adicionaPrograma()">Adicionar</button>
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="removePrograma()">Remover</button>
                            </div>

                            <select class="form-select inputPadraoDesktop" name="id_programa1" id="id_programa">
                                <option class="" selected disabled value hidden>Selecione Programa
                                </option>
                                {{#each programa}}
                                <option id="{{id_programa}}" class="idprograma" value="{{id_programa}}">
                                    {{nome}}
                                </option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="grupoGap8pxDesktopParticipar" id="divhorario">
                            <label for="validationDefault01" class="textoInputPadraoDesktop">Observação: </label>
                            <input type="text" class="inputPadraoDesktopParticipar" id="observacao" name="observacao"
                                aria-describedby="basic-addon1">
                        </div>

                        <button class="botaoPadraoDesktop" id="submit">
                            CADASTRAR
                        </button>

                    </div>

                    <div hidden id="escalaJogos" class="grupoGap8pxDesktop">
                        {{!-- registrar escalas de jogos --}}
                        <input hidden type="text" class="inputPadraoDesktop" name="jornada" id="jornada"
                            placeholder="Jornada">

                        <select class="form-select inputPadraoDesktop" name="id_campeonato" id="list2" required>
                            <option class="inputPadraoDesktop" selected disabled hidden>Selecione o Campeonato
                            </option>
                            {{#each campeonato}}
                            <option id="{{id_campeonato}}" value="{{id_campeonato}}">
                                {{nome}}
                            </option>
                            {{/each}}
                        </select>

                        <select class="form-select inputPadraoDesktop" name="id_clube1" id="list2" required>
                            <option class="inputPadraoDesktop" selected disabled hidden>Selecione o 1° Clube
                            </option>
                            {{#each clube}}
                            <option id="{{id_clubes}}" value="{{id_clubes}}">
                                {{nome}}
                            </option>
                            {{/each}}
                        </select>

                        <select class="form-select inputPadraoDesktop" name="id_clube2" id="list2" required>
                            <option class="inputPadraoDesktop" selected disabled hidden>Selecione o 2° Clube
                            </option>
                            {{#each clube}}
                            <option id="{{id_clubes}}" value="{{id_clubes}}">
                                {{nome}}
                            </option>
                            {{/each}}
                        </select>

                        <label for="validationDefault01" class="textoInputPadraoDesktop">Abertura:
                        </label>
                        <input type="time" class="inputPadraoDesktopParticipar" id="horario_abertura"
                            name="horario_abertura" placeholder="abertura" aria-label="abertura"
                            aria-describedby="basic-addon1">

                        <label for="validationDefault01" class="textoInputPadraoDesktop">Horário do jogo:
                        </label>
                        <input type="time" class="inputPadraoDesktopParticipar" id="horario_jogo" name="horario_jogo"
                            placeholder="horario" aria-label="horario" aria-describedby="basic-addon1">

                        <select class="form-select inputPadraoDesktop" name="id_local" id="list2" required>
                            <option class="inputPadraoDesktop" selected disabled hidden>Selecione o estádio
                            </option>
                            {{#each local}}
                            <option id="{{id_local}}" value="{{id_local}}">
                                {{nome}}
                            </option>
                            {{/each}}
                        </select>

                        <div id="divNarradorjogos" class="grupoGap8pxDesktopParticipar">
                            <p for="validationDefault02" class="textoInputPadraoDesktop">Narrador</p>
                            <div class="horadcHorarioDesktop">
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="adicionaFuncionario('id_narrador_jogos_', 'Narrador', 1)">Adicionar</button>
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="removeFuncionario('id_narrador_jogos_', 'Narrador', 1)">Remover</button>
                            </div>
                            <div class="grupoGap8pxCenterDesktop">
                                <select class="form-select inputPadraoDesktop" name="id_narrador_jogos_1"
                                    id="id_narrador_jogos_1" required>
                                    <option class=" inputPadraoDesktop" selected disabled value hidden>Selecione
                                        Funcionário
                                    </option>
                                    {{#each funcionario}}
                                    <option id="{{id_funcionario}}" class="idfuncionario" value="{{id_funcionario}}">
                                        {{nome}}
                                    </option>
                                    {{/each}}
                                </select>
                                <input type="text" class="inputPadraoDesktopParticipar" id="observacao_Narrador1"
                                    name="observacao_Narrador1" placeholder="Observação">
                            </div>
                        </div>

                        <div id="divAncorajogos" class="grupoGap8pxDesktopParticipar">
                            <p for="validationDefault02" class="textoInputPadraoDesktop">Âncora</p>
                            <div class="horadcHorarioDesktop">
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="adicionaFuncionario('id_ancora_jogos_', 'Ancora', 2)">Adicionar</button>
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="removeFuncionario('id_ancora_jogos_', 'Ancora', 2)">Remover</button>
                            </div>
                            <div class="grupoGap8pxCenterDesktop">
                                <select class="form-select inputPadraoDesktop" name="id_ancora_jogos_1"
                                    id="id_ancora_jogos_1" required>
                                    <option class=" inputPadraoDesktop" selected disabled value hidden>Selecione
                                        Funcionário
                                    </option>
                                    {{#each funcionario}}
                                    <option id="{{id_funcionario}}" class="idfuncionario" value="{{id_funcionario}}">
                                        {{nome}}
                                    </option>
                                    {{/each}}
                                </select>
                                <input type="text" class="inputPadraoDesktopParticipar" id="observacao_Ancora1"
                                    name="observacao_Ancora1" placeholder="Observação">
                            </div>
                        </div>

                        <div id="divComentaristajogos" class="grupoGap8pxDesktopParticipar">
                            <p for="validationDefault02" class="textoInputPadraoDesktop">Comentarista</p>
                            <div class="horadcHorarioDesktop">
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="adicionaFuncionario('id_comentarista_jogos_', 'Comentarista', 3)">Adicionar</button>
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="removeFuncionario('id_comentarista_jogos_', 'Comentarista', 3)">Remover</button>
                            </div>
                            <div class="grupoGap8pxCenterDesktop">
                                <select class="form-select inputPadraoDesktop" name="id_comentarista_jogos_1"
                                    id="id_comentarista_jogos_1" required>
                                    <option class=" inputPadraoDesktop" selected disabled value hidden>Selecione
                                        Funcionário
                                    </option>
                                    {{#each funcionario}}
                                    <option id="{{id_funcionario}}" class="idfuncionario" value="{{id_funcionario}}">
                                        {{nome}}
                                    </option>
                                    {{/each}}
                                </select>
                                <input type="text" class="inputPadraoDesktopParticipar" id="observacao_Comentarista1"
                                    name="observacao_Comentarista1" placeholder="Observação">
                            </div>
                        </div>

                        <div id="divArbitragemjogos" class="grupoGap8pxDesktopParticipar">
                            <p for="validationDefault02" class="textoInputPadraoDesktop">Analista de Arbitragem</p>
                            <div class="horadcHorarioDesktop">
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="adicionaFuncionario('id_arbitragem_jogos_', 'Arbitragem', 4)">Adicionar</button>
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="removeFuncionario('id_arbitragem_jogos_', 'Arbitragem', 4)">Remover</button>
                            </div>
                            <div class="grupoGap8pxCenterDesktop">
                                <select class="form-select inputPadraoDesktop" name="id_arbitragem_jogos_1"
                                    id="id_arbitragem_jogos_1" required>
                                    <option class=" inputPadraoDesktop" selected disabled value hidden>Selecione
                                        Funcionário
                                    </option>
                                    {{#each funcionario}}
                                    <option id="{{id_funcionario}}" class="idfuncionario" value="{{id_funcionario}}">
                                        {{nome}}
                                    </option>
                                    {{/each}}
                                </select>
                                <input type="text" class="inputPadraoDesktopParticipar" id="observacao_Arbitragem1"
                                    name="observacao_Arbitragem1" placeholder="Observação">
                            </div>
                        </div>

                        <div id="divNumerosjogos" class="grupoGap8pxDesktopParticipar">
                            <p for="validationDefault02" class="textoInputPadraoDesktop">Analista de Números</p>
                            <div class="horadcHorarioDesktop">
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="adicionaFuncionario('id_numeros_jogos_', 'Numeros', 5)">Adicionar</button>
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="removeFuncionario('id_numeros_jogos_', 'Numeros', 5)">Remover</button>
                            </div>
                            <div class="grupoGap8pxCenterDesktop">
                                <select class="form-select inputPadraoDesktop" name="id_numeros_jogos_1"
                                    id="id_numeros_jogos_1" required>
                                    <option class=" inputPadraoDesktop" selected disabled value hidden>Selecione
                                        Funcionário
                                    </option>
                                    {{#each funcionario}}
                                    <option id="{{id_funcionario}}" class="idfuncionario" value="{{id_funcionario}}">
                                        {{nome}}
                                    </option>
                                    {{/each}}
                                </select>
                                <input type="text" class="inputPadraoDesktopParticipar" id="observacao_Numeros1"
                                    name="observacao_Numeros1" placeholder="Observação">
                            </div>
                        </div>

                        <div id="divReporterjogos" class="grupoGap8pxDesktopParticipar">
                            <p for="validationDefault02" class="textoInputPadraoDesktop">Reporter</p>
                            <div class="horadcHorarioDesktop">
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="adicionaFuncionario('id_reporter_jogos_', 'Reporter', 6)">Adicionar</button>
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="removeFuncionario('id_reporter_jogos_', 'Reporter', 6)">Remover</button>
                            </div>
                            <div class="grupoGap8pxCenterDesktop">
                                <select class="form-select inputPadraoDesktop" name="id_reporter_jogos_1"
                                    id="id_reporter_jogos_1" required>
                                    <option class=" inputPadraoDesktop" selected disabled value hidden>Selecione
                                        Funcionário
                                    </option>
                                    {{#each funcionario}}
                                    <option id="{{id_funcionario}}" class="idfuncionario" value="{{id_funcionario}}">
                                        {{nome}}
                                    </option>
                                    {{/each}}
                                </select>
                                <input type="text" class="inputPadraoDesktopParticipar" id="observacao_Reporter1"
                                    name="observacao_Reporter1" placeholder="Observação">
                            </div>
                        </div>

                        <div id="divOperadorjogos" class="grupoGap8pxDesktopParticipar">
                            <p for="validationDefault02" class="textoInputPadraoDesktop">Operador</p>
                            <div class="horadcHorarioDesktop">
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="adicionaFuncionario('id_operador_jogos_', 'Operador', 7)">Adicionar</button>
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="removeFuncionario('id_operador_jogos_', 'Operador', 7)">Remover</button>
                            </div>
                            <div class="grupoGap8pxCenterDesktop">
                                <select class="form-select inputPadraoDesktop" name="id_operador_jogos_1"
                                    id="id_operador_jogos_1" required>
                                    <option class=" inputPadraoDesktop" selected disabled value hidden>Selecione
                                        Funcionário
                                    </option>
                                    {{#each funcionario}}
                                    <option id="{{id_funcionario}}" class="idfuncionario" value="{{id_funcionario}}">
                                        {{nome}}
                                    </option>
                                    {{/each}}
                                </select>
                                <input type="text" class="inputPadraoDesktopParticipar" id="observacao_Operador1"
                                    name="observacao_Operador1" placeholder="Observação">
                            </div>
                        </div>

                        <div id="divProducaojogos" class="grupoGap8pxDesktopParticipar">
                            <p for="validationDefault02" class="textoInputPadraoDesktop">Produção</p>
                            <div class="horadcHorarioDesktop">
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="adicionaFuncionario('id_producao_jogos_', 'Producao', 8)">Adicionar</button>
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="removeFuncionario('id_producao_jogos_', 'Producao', 8)">Remover</button>
                            </div>
                            <div class="grupoGap8pxCenterDesktop">
                                <select class="form-select inputPadraoDesktop" name="id_producao_jogos_1"
                                    id="id_producao_jogos_1" required>
                                    <option class=" inputPadraoDesktop" selected disabled value hidden>Selecione
                                        Funcionário
                                    </option>
                                    {{#each funcionario}}
                                    <option id="{{id_funcionario}}" class="idfuncionario" value="{{id_funcionario}}">
                                        {{nome}}
                                    </option>
                                    {{/each}}
                                </select>
                                <input type="text" class="inputPadraoDesktopParticipar" id="observacao_Producao1"
                                    name="observacao_Producao1" placeholder="Observação">
                            </div>
                        </div>

                        {{!-- novos cargos, apagar --}}

                        <div id="divTorcidajogos" class="grupoGap8pxDesktopParticipar">
                            <p for="validationDefault02" class="textoInputPadraoDesktop">Torcida Whatsapp</p>
                            <div class="horadcHorarioDesktop">
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="adicionaFuncionario('id_torcida_jogos_', 'Torcida', 9)">Adicionar</button>
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="removeFuncionario('id_torcida_jogos_', 'Torcida', 9)">Remover</button>
                            </div>
                            <div class="grupoGap8pxCenterDesktop">
                                <select class="form-select inputPadraoDesktop" name="id_torcida_jogos_1"
                                    id="id_torcida_jogos_1" required>
                                    <option class=" inputPadraoDesktop" selected disabled value hidden>Selecione
                                        Funcionário
                                    </option>
                                    {{#each funcionario}}
                                    <option id="{{id_funcionario}}" class="idfuncionario" value="{{id_funcionario}}">
                                        {{nome}}
                                    </option>
                                    {{/each}}
                                </select>
                                <input type="text" class="inputPadraoDesktopParticipar" id="observacao_Torcida1"
                                    name="observacao_Torcida1" placeholder="Observação">
                            </div>
                        </div>

                        <div id="divDialjogos" class="grupoGap8pxDesktopParticipar">
                            <p for="validationDefault02" class="textoInputPadraoDesktop">Informações Dial</p>
                            <div class="horadcHorarioDesktop">
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="adicionaFuncionario('id_dial_jogos_', 'Dial', 10)">Adicionar</button>
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="removeFuncionario('id_dial_jogos_', 'Dial', 10)">Remover</button>
                            </div>
                            <div class="grupoGap8pxCenterDesktop">
                                <select class="form-select inputPadraoDesktop" name="id_dial_jogos_1"
                                    id="id_dial_jogos_1" required>
                                    <option class=" inputPadraoDesktop" selected disabled value hidden>Selecione
                                        Funcionário
                                    </option>
                                    {{#each funcionario}}
                                    <option id="{{id_funcionario}}" class="idfuncionario" value="{{id_funcionario}}">
                                        {{nome}}
                                    </option>
                                    {{/each}}
                                </select>
                                <input type="text" class="inputPadraoDesktopParticipar" id="observacao_Dial1"
                                    name="observacao_Dial1" placeholder="Observação">
                            </div>
                        </div>

                        <div id="divCinegrafistajogos" class="grupoGap8pxDesktopParticipar">
                            <p for="validationDefault02" class="textoInputPadraoDesktop">Cinegrafista</p>
                            <div class="horadcHorarioDesktop">
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="adicionaFuncionario('id_cinegrafista_jogos_', 'Cinegrafista', 11)">Adicionar</button>
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="removeFuncionario('id_cinegrafista_jogos_', 'Cinegrafista', 11)">Remover</button>
                            </div>
                            <div class="grupoGap8pxCenterDesktop">
                                <select class="form-select inputPadraoDesktop" name="id_cinegrafista_jogos_1"
                                    id="id_cinegrafista_jogos_1" required>
                                    <option class=" inputPadraoDesktop" selected disabled value hidden>Selecione
                                        Funcionário
                                    </option>
                                    {{#each funcionario}}
                                    <option id="{{id_funcionario}}" class="idfuncionario" value="{{id_funcionario}}">
                                        {{nome}}
                                    </option>
                                    {{/each}}
                                </select>
                                <input type="text" class="inputPadraoDesktopParticipar" id="observacao_Cinegrafista1"
                                    name="observacao_Cinegrafista1" placeholder="Observação">
                            </div>
                        </div>

                        <div id="divDigitaljogos" class="grupoGap8pxDesktopParticipar">
                            <p for="validationDefault02" class="textoInputPadraoDesktop">Itatiaia Digital</p>
                            <div class="horadcHorarioDesktop">
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="adicionaFuncionario('id_digital_jogos_', 'Digital', 12)">Adicionar</button>
                                <button type="button" class="adcHorarioDesktop "
                                    onclick="removeFuncionario('id_digital_jogos_', 'Digital', 12)">Remover</button>
                            </div>
                            <div class="grupoGap8pxCenterDesktop">
                                <select class="form-select inputPadraoDesktop" name="id_digital_jogos_1"
                                    id="id_digital_jogos_1" required>
                                    <option class=" inputPadraoDesktop" selected disabled value hidden>Selecione
                                        Funcionário
                                    </option>
                                    {{#each funcionario}}
                                    <option id="{{id_funcionario}}" class="idfuncionario" value="{{id_funcionario}}">
                                        {{nome}}
                                    </option>
                                    {{/each}}
                                </select>
                                <input type="text" class="inputPadraoDesktopParticipar" id="observacao_Digital1"
                                    name="observacao_Digital1" placeholder="Observação">
                            </div>
                        </div>

                        <div id="divPrograma" class="grupoGap8pxDesktopParticipar">
                            <p for="validationDefault02" class="textoInputPadraoDesktop">A seguir</p>
                            <select class="form-select inputPadraoDesktop" name="id_programa" id="id_programa">
                                <option class="inputPadraoDesktop" selected disabled value hidden>Selecione Programa
                                </option>
                                {{#each programa}}
                                <option id="{{id_programa}}" class="" value="{{id_programa}}">
                                    {{nome}}
                                </option>
                                {{/each}}
                            </select>
                        </div>

                        <label for="atencao" class="textoInputPadraoDesktop">Saída: </label>
                        <textarea class="inputPadraoDesktopParticipar" id="saida" name="saida" placeholder=""
                            aria-describedby="basic-addon1"></textarea>

                        <label for="atencao" class="textoInputPadraoDesktop">Retorno: </label>
                        <textarea class="inputPadraoDesktopParticipar" id="retorno" name="retorno" placeholder=""
                            aria-describedby="basic-addon1"></textarea>

                        <label for="validationDefault01" class="textoInputPadraoDesktop">Encerramento:
                        </label>
                        <input type="time" class="inputPadraoDesktopParticipar" id="encerramento" name="encerramento"
                            placeholder="horario" aria-label="horario" aria-describedby="basic-addon1">

                        {{#each informativos}}
                        <label for="atencao" class="textoInputPadraoDesktop">Importante: </label>
                        <textarea class="inputPadraoDesktopParticipar" id="importantej" name="importantej"
                            placeholder="" aria-describedby="basic-addon1">{{importantej}}</textarea>

                        <label for="atencao" class="textoInputPadraoDesktop">Atenção: </label>
                        <textarea class="inputPadraoDesktopParticipar" id="atencaoj" name="atencaoj"
                            aria-describedby="basic-addon1">{{atencaoj}}</textarea>

                        <label for="validationDefault01" class="textoInputPadraoDesktop">Observação: </label>
                        <textarea class="inputPadraoDesktopParticipar" id="observacaoj" name="observacaoj"
                            aria-describedby="basic-addon1">{{observacaoj}}</textarea>
                        {{/each}}

                        <button class="botaoPadraoDesktop" id="submit">
                            CADASTRAR
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">

    // Array com 9 posições
    // Funcionario (Escala), Narrador (Jogos), Ancora (Jogos)
    // Comentarista (Jogos), Analista Arbitragem (Jogos), Analista Numeros (Jogos)
    // Reporter (Jogos), Operador (Jogos), Produção (Jogos)
    // Respectivamente
    let auxFuncionarios = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1];

    let auxProg = 1;
    document.getElementById('auxFunc').value = auxFuncionarios.join(',');
    document.getElementById('auxProg').value = auxProg;
    const funcionarios = document.getElementsByClassName('todosfuncionarios');
    const programas = document.getElementsByClassName('idprograma');

    function adicionaFuncionario(tipoEscala, tipoFunc, posicaoArray) {
        auxFunc = ++auxFuncionarios[posicaoArray];
        console.log(auxFuncionarios)
        if (auxFunc < 10) {
            let criaSelect = document.createElement("select");
            criaSelect.id = tipoEscala + auxFunc;
            criaSelect.name = tipoEscala + auxFunc;
            criaSelect.className = "form-select inputPadraoDesktop";
            criaSelect.required = true;
            const tipo = tipoEscala.split('_').reverse()[1];

            let criaDiv = document.createElement("div");
            criaDiv.id = `div${tipoFunc}${tipo}${auxFunc}`;
            criaDiv.setAttribute('class', "grupoGap8pxCenterDesktop");
            console.log(tipoEscala.includes("jogos"));
            document.getElementById(`div${tipoFunc}${tipo}`).appendChild(criaDiv);
            criaDiv.appendChild(criaSelect);

            if (tipoEscala.includes("jogos")) {
                let criaInput = document.createElement("input");
                criaInput.type = "text";
                criaInput.setAttribute('class', "inputPadraoDesktopParticipar");
                criaInput.id = `observacao_${tipoFunc}${auxFunc}`;
                criaInput.name = `observacao_${tipoFunc}${auxFunc}`;
                criaInput.placeholder = "Observação";
                criaDiv.appendChild(criaInput);
            }

            for (let i = -1; i < funcionarios.length; i++) {
                let criaOption = document.createElement("option");

                if (i >= 0) {
                    criaOption.id = funcionarios[i].id;
                    criaOption.value = funcionarios[i].value;
                    criaOption.innerHTML = funcionarios[i].innerHTML;
                } else {
                    criaOption.innerHTML = "Selecione Funcionário";
                    criaOption.disabled = true;
                    criaOption.selected = true;
                    criaOption.value = '';
                    criaOption.hidden = true;
                };

                document.getElementById(tipoEscala + auxFunc).appendChild(criaOption);
            };

            document.getElementById('auxFunc').value = auxFuncionarios.join(',');

        } else {
            alert(`Limite de ${tipoFunc} excedido`);
        };
    };

    function removeFuncionario(tipoEscala, tipoFunc, posicaoArray) {
        if (auxFuncionarios[posicaoArray] > 1) {
            auxFunc = auxFuncionarios[posicaoArray]--;
            const tipo = tipoEscala.split('_').reverse()[1];
            console.log(`div${tipoFunc}${tipo}${auxFunc}`)
            document.getElementById(`div${tipoFunc}${tipo}${auxFunc}`).remove();
            document.getElementById('auxFunc').value = auxFuncionarios;
        } else {
            alert(`Não é possível remover o primeiro campo de ${tipoFunc}`);
        };
    };

    function adicionaPrograma() {
        if (auxProg < 10) {
            auxProg++;
            let criaSelect = document.createElement("select");
            criaSelect.id = "id_programa" + auxProg;
            criaSelect.name = "id_programa" + auxProg;
            criaSelect.className = "form-select inputPadraoDesktop";

            let criaDiv = document.createElement("div");
            criaDiv.id = "divPrograma" + auxProg;

            document.getElementById('divPrograma').appendChild(criaDiv);
            criaDiv.appendChild(criaSelect);

            for (let i = -1; i < programas.length; i++) {
                let criaOption = document.createElement("option");

                if (i >= 0) {
                    criaOption.id = programas[i].id;
                    criaOption.value = programas[i].value;
                    criaOption.innerHTML = programas[i].innerHTML;
                } else {
                    criaOption.innerHTML = "Selecione Programa";
                    criaOption.disabled = true;
                    criaOption.selected = true;
                    criaOption.value = '';
                    criaOption.hidden = true;
                };

                document.getElementById("id_programa" + auxProg).appendChild(criaOption);
            };

            document.getElementById('auxProg').value = auxProg;

        } else {
            alert('Limite de programas excedido');
        };
    };

    function removePrograma() {
        document.getElementById('divPrograma' + auxProg).remove();
        auxProg--;
        document.getElementById('auxProg').value = auxProg;
    };

    function AlterarEvento() {
        if (document.getElementById('eventomanual').hidden == true) {
            document.getElementById('eventomanual').removeAttribute('hidden');
            document.getElementById('eventomanual').setAttribute('required', 'true');
            document.getElementById('list2').setAttribute('hidden', 'true');
            document.getElementById('list2').removeAttribute('required');
        } else {
            document.getElementById('eventomanual').setAttribute('hidden', 'true');
            document.getElementById('eventomanual').removeAttribute('required');
            document.getElementById('eventomanual').value = "";
            document.getElementById('list2').removeAttribute('hidden');
            document.getElementById('list2').setAttribute('required', 'true');
        }
    }

    const data = document.getElementById('dt_escala');
    const urlParams = window.location.search.slice(11, 21);
    data.value = urlParams;
</script>

<script>
    const escala = document.getElementById('selectEscala');

    escala.addEventListener('change', (e) => {
        switch (parseInt(e.target.value)) {
            case 1:
                document.getElementById('escalaFuncionario').removeAttribute('hidden');
                document.getElementById('tipoEscala').value = 1;
                document.getElementById('id_narrador_jogos_1').removeAttribute('required');
                document.getElementById('id_ancora_jogos_1').removeAttribute('required');
                document.getElementById('id_comentarista_jogos_1').removeAttribute('required');
                document.getElementById('id_arbitragem_jogos_1').removeAttribute('required');
                document.getElementById('id_numeros_jogos_1').removeAttribute('required');
                document.getElementById('id_reporter_jogos_1').removeAttribute('required');
                document.getElementById('id_operador_jogos_1').removeAttribute('required');
                document.getElementById('id_producao_jogos_1').removeAttribute('required');

                document.getElementById('id_torcida_jogos_1').removeAttribute('required');
                document.getElementById('id_dial_jogos_1').removeAttribute('required');
                document.getElementById('id_cinegrafista_jogos_1').removeAttribute('required');
                document.getElementById('id_digital_jogos_1').removeAttribute('required');

                break;
            case 2:
                document.getElementById('escalaJogos').removeAttribute('hidden');
                document.getElementById('tipoEscala').value = 2;
                document.getElementById("id_funcionario_escala_").removeAttribute('required');
                document.getElementById("todosfuncionarios").removeAttribute('required');
                break;
            case 3:
                document.getElementById('escalaJornada').removeAttribute('hidden');
                document.getElementById('tipoEscala').value = 3;
                document.getElementById("id_funcionario_escala_").removeAttribute('required');
                document.getElementById("todosfuncionarios").removeAttribute('required');
                break;
            default:
                alert('Um erro ocorreu');
                break;
        };
        e.target.setAttribute('hidden', true);
    });
</script>